{
  "env": {
    "browser": true,
    "es6": true,
    "cypress/globals": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    // overwrites rules that are invalid for TS
    "prettier/@typescript-eslint",
    // disables styling rules incompatible with prettier
    "prettier/react"
    // disables styling rules incompatible with prettier
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "plugins": ["@typescript-eslint", "cypress","simple-import-sort"],
  "rules": {
    "@typescript-eslint/no-use-before-define": "off",
    "no-use-before-define": "off",
    "operator-linebreak": "off",
    "indent": "off",
    "no-nested-ternary": "off",
    "function-paren-newline": "off",
    "no-confusing-arrow": "off",
    "global-require": "off",
    "@typescript-eslint/no-var-requires": "off",
    "cypress/no-assigning-return-values": "error",
    "cypress/no-unnecessary-waiting": "error",
    "cypress/assertion-before-screenshot": "warn",
    "cypress/no-force": "warn",
    "react/state-in-constructor": "off",
    "react-hooks/exhaustive-deps": "off",
    "prefer-promise-reject-errors": "off",
    "no-return-assign": "off",
    "no-param-reassign": "off",
    "max-classes-per-file": "off",
    "no-useless-constructor": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "arrow-body-style": "warn",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["@testing-library/react"]
      }
    ],
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": true,
        "shorthandFirst": true,
        "ignoreCase": true
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["return", "break", "continue"]
      },
      {
        "blankLine": "always",
        "prev": ["if", "class", "for", "function", "switch", "throw", "while", "with", "block"],
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["if", "class", "for", "function", "switch", "throw", "while", "with", "block"]
      },
      {
        "blankLine": "always",
        "prev": "expression",
        "next": ["const", "let"]
      },
      {
        "blankLine": "never",
        "prev": ["case", "default"],
        "next": ["case", "default"]
      },
      {
        "blankLine": "always",
        "prev": ["const", "let"],
        "next": "expression"
      }
    ],
    "simple-import-sort/sort": [
      "error",
      {
        "groups": [
          // Side effect imports
          ["^\\u0000"],
          // Packages.
          ["^react", "^@?\\w"],
          // Absolute imports
          ["^[^.]"],
          // Relative imports
          ["^\\."],
          // Styles
          ["(metrumStyles|\\.style|\\.less)$"]
        ]
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".tsx"]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreComments": true
      }
    ]
  }
}
