@import (reference) '../../../node_modules/antd/lib/style/dark.less';
@import (reference) '../navigation/Toolbar.module.less';

.wrapper {
  min-width: 100%;
  max-width: 1600px;
  height: 100vh;
}

.logo {
  margin-right: 0.5rem;
  cursor: pointer;
}

.rightSideWrapper {
  display: flex;
}

.appName {
  margin-bottom: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid @border-color-base;
}

.headerWrapper {
  display: flex;
}

.headerLinks {
  height: 100%;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: @toolbarHeight;
  height: calc(100% - @toolbarHeight);
  overflow: auto;
}

.imageWithHeader {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.appSpinnerWrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .mainWrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1248px) {
  .wrapper {
    min-width: unset;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
  }
}
