@import "../../../node_modules/antd/lib/style/dark.less";

.wrapper {
  min-width: 100%;
  max-width: 100%;
}

.logo {
  margin-right: 0.5rem;
  cursor: pointer;
}

.appName {
  margin-bottom: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid @border-color-base;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageWithHeader {
  display: flex;
  align-items: center;
  cursor: pointer;
}
