.header {
  margin: 1rem;
}
.card {
  margin-top: 0.5rem;
  background: @background-color-base;
}
.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.owsUserSum {
  color: @green-6;
  font-size: 14px;
  text-align: right;
}

.description {
  margin-top: 1rem;
}

.infoCircle {
  padding-left: 1rem;
}
