@import (reference) '../../../../node_modules/antd/lib/style/dark.less';

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.header {
  margin-bottom: 0;
}

.checkbox {
  margin-bottom: 0;
}

.card {
  margin-top: 0;
  background: @background-color-base;
  border: initial;
  transition: transform 350ms ease-out;
}

.card:active {
  background: lighten(@background-color-base, 40%);
}

.card + .card {
  border-top: 1px solid;
  border-color: #5a5a5a;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.expenseAmount {
  font-size: 14px;
  text-align: right;
}

.owsUserAmount {
  color: @green-6;
}

.userOwsAmount {
  color: @red-6;
}

.description {
  margin-top: 1rem;
}

.infoCircle {
  padding-left: 1rem;
}

.tooltip {
  text-align: center;
}
