.headerWrapper {
  margin: 1rem 1rem 0 1rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 90vw;
}

.button {
  //width: 100%;
  margin-left: auto;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
